# general
.DS_Store
node_modules/
dist/
*.log

# Go
bin/
.coverage/
go.work.sum

# Vite/Web
apps/web/.vite/


# Ignore everything under gen/
gen/**

# ...but keep Go and TS outputs
!gen/go/
!gen/ts/
!gen/go/**
!gen/ts/**